@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap');

#main-heading, a {
    font-family: Cinzel Decorative, sans-serif;
    text-align: center;
    padding: none;
    color: #4b0751;
    text-decoration: none;
}

#menu {
    font-size: 110%;
    font-family: Cinzel Decorative, sans-serif;
    list-style-type: none;
    text-align: center;
}

#menu li {
    display: inline-block;
}

#menu a {
    text-decoration: none;
}

body {
    background-color: rgb(97, 95, 99,);
}

#villains-image {
    width: 100%;
    height: 350px;
    background: url(../css/images/classic-disney-villains.jpg) no-repeat center center;
    padding: none;
}